.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #0f0e0e;
    width: 100%;
    z-index: 100;
    position: relative; /* Não precisa ser fixo */
}

/* Estilo do logo no header */
.header__logo img {
    height: 45px;
}